@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

@theme {
  --spacing-header: 2.75rem;
}
@layer components {
  .layout {
    @apply bg-base-100 mx-auto flex h-full min-h-dvh max-w-lg flex-col overflow-x-hidden overflow-y-auto;
  }
}
@layer base {
  html {
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
  button {
    @apply cursor-pointer;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
}
