@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

@theme {
  --spacing-header: 2.75rem;
}
@layer components {
  .layout {
    @apply bg-bg-100 mx-auto flex h-full min-h-dvh max-w-lg flex-col overflow-x-hidden overflow-y-auto;
  }
}
@layer base {
  html {
    font-size: 16px;
    font-family: "Pretendard", sans-serif;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
}

/* 스크롤 바 숨기기 */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
