@theme {
  --color-base-0: #ffffff;
  --color-base-50: #4c4e5166;
  --color-base-75: #2e3445cc;
  --color-base-100: #000000;

  --color-primary-0: #2f47bd4d;
  --color-primary-50: #e9edff;
  --color-primary-100: #d7ddff;
  --color-primary-200: #aebcff;
  --color-primary-300: #869aff;
  --color-primary-400: #516eff;
  --color-primary-500: #3a56e4;
  --color-primary-600: #2f47bd;

  --color-gray-system-50: #f6f6f9;
  --color-gray-system-100: #f2f2f7;
  --color-gray-system-200: #e5e5ea;
  --color-gray-system-300: #d1d1d6;
  --color-gray-system-400: #c7c7cc;
  --color-gray-system-500: #aeaeb2;
  --color-gray-system-600: #8e8e93;
  --color-gray-system-700: #4c4e51;
  --color-gray-system-800: #202020;

  --color-bg-50: #2c2d30;
  --color-bg-100: #161517;

  --color-error-50: #ff4646;
  --color-error-100: #ff7373;
}
