@layer base {
  .head-1-bold {
    font-weight: 700;
    font-size: 2rem; /* 32px */
    line-height: 2.75rem;
    letter-spacing: 0rem;
  }

  .head-2-semibold {
    font-weight: 600;
    font-size: 1.5rem; /* 24px */
    line-height: 2.125rem;
    letter-spacing: 0rem;
  }

  .head-3-bold {
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    line-height: 2.125rem;
    letter-spacing: 0rem;
  }

  .head-4-semibold {
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    line-height: 1.625rem;
    letter-spacing: 0rem;
  }

  .body-1-bold {
    font-weight: 700;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }

  .body-2-medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }

  .body-3-regular {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0rem;
  }

  .body-4-medium {
    font-weight: 500;
    font-size: 0.875rem; /* 14px */
    line-height: 1.125rem;
    letter-spacing: 0rem;
  }

  .body-5-regular {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0rem;
  }

  .caption-1-medium {
    font-weight: 500;
    font-size: 0.8125rem; /* 13px */
    line-height: 1.125rem;
    letter-spacing: 0rem;
  }

  .caption-2-regular {
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    letter-spacing: 0rem;
  }
}
